<mat-card>
    <mat-card-title>
        Novo telefone
    </mat-card-title>
</mat-card>
<form>
    <mat-form-field>
        <input matInput placeholder="Telefone" [(ngModel)]="personPhoneRequest.Dto.PhoneNumber" name="PhoneNumber">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Tipo" [(ngModel)]="personPhoneRequest.Dto.PhoneNumberTypeId" name="PhoneNumberTypeId">
    </mat-form-field>
</form>
<button mat-raised-button (click)="createPersonPhone()">Salvar</button>
<button mat-raised-button (click)="cancel()">Cancelar</button>